<div class="bg-dark text-secondary px-4 py-5 text-center" id="idContatos">
    <a class="btn btn-outline-warning" style="margin: 0.2%;" href="https://www.linkedin.com/in/gustavo-gabriel-5b31a2192/" target="_blank">Linkedin</a>

    <a class="btn btn-outline-warning" style="margin: 0.2%;" href="http://api.whatsapp.com/send?phone=5562993241489" target="_blank">WhatsApp</a>

    <a class="btn btn-outline-warning" style="margin: 0.2%;" href="https://github.com/Gustavo-404" target="_blank">GitHub</a>

    <div class="copyright">
        © Processo Seletivo Supera 2021.
        <a href="#" target="_blank"></a>
    </div>
</div>